
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    height: 100%;
}

*{
    margin:0;
    padding: 0; 
    font-family: "Roboto", sans-serif;
}

#registration-page{
    height: 100%;
    background-color: #78a7ba;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.signup-form{
    flex:1;
    background-color: #eff0f1;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #999;
}

.form-header{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.form-header h1{
    font-size: 28px;
    text-align: center;
    color:#666;
}

.row{
    display: flex;
    flex-direction: row;
}