
html, body{
    height: 100%;
}
*{
    margin:0;
    padding: 0; 
}

#registration-page{
    height: 100%;
    background-color: #78a7ba;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}